<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1092502497853-o0g6nt9egtrtqm9nvbeakfkffsl4c60h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092502497853-o0g6nt9egtrtqm9nvbeakfkffsl4c60h</string>
	<key>API_KEY</key>
	<string>AIzaSyAzPXI4_YtrCwp5_u0CS_SQYlH6THllfzU</string>
	<key>GCM_SENDER_ID</key>
	<string>1092502497853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.se.paranu.app</string>
	<key>PROJECT_ID</key>
	<string>paranu-534f7</string>
	<key>STORAGE_BUCKET</key>
	<string>paranu-534f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092502497853:ios:24b67195121e6796</string>
	<key>DATABASE_URL</key>
	<string>https://paranu-534f7.firebaseio.com</string>
</dict>
</plist>